<div class="main">
  <div class="white">
    <h1>Portfolio</h1>
     <div class="banner">
      <ul>
        <li>This is my slider.</li>
        <li>Pretty cool, huh?</li>
       </ul>
    </div>
  </div>
</div>
