<div class="menu">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <div class="name white">
    Andreas Ahrens
  </div>
</div>

<div class="main">
  <div class="presentation white">
    <h1>Kicking ass since 1979</h1>
    <p><a href="#">View my work</a></p>
  </div>
</div>

<div class="footer">
  <div class="social white">
  	<div><a href="https://github.com/DevvAndreas" target="_blank"><img title="Github" src="http://i.imgur.com/7084Xud.png"> Github </a></div>
    <div><a href="https://www.facebook.com/ahrens.andreas" target="_blank"><img title="Github" src="http://i.imgur.com/eJzPRBw.png"> Facebook </a></div>
    <div><a href="https://twitter.com/eiolos" target="_blank"><img title="Github" src="http://i.imgur.com/BcubqYh.png"> Twitter </a></div>
  </div>
  <p>Copyright 2015 Andreas Ahrens</p>
</div>